# Importando Tabela

In [5]:
from scipy import stats
import pandas as pd

df = pd.read_csv("SatisfacaoGeral.csv", sep=";")

display(df)

        id_cliente  satisfacao  dias  volumes      receita
0                1           5     4       25  2747.882109
1                4           1     1        6   816.224932
2                7           2     3        9  1009.201871
3                8           4     2       14  1767.612754
4                9           4     1        4   254.295382
...            ...         ...   ...      ...          ...
178782      299996           2     2       18  2409.436780
178783      299997           1     2       13   847.175468
178784      299998           2     2       14  1118.921624
178785      299999           5     1        2   282.420796
178786      300000           5     1        4    78.243689

[178787 rows x 5 columns]

#

In [19]:
correlacoes = df[['satisfacao', 'dias', 'volumes', 'receita']].corr()

display(correlacoes)

            satisfacao      dias   volumes   receita
satisfacao    1.000000 -0.002501 -0.000160 -0.002245
dias         -0.002501  1.000000  0.766093  0.607466
volumes      -0.000160  0.766093  1.000000  0.810576
receita      -0.002245  0.607466  0.810576  1.000000

In [18]:
correlacoes_spearman = df[['satisfacao', 'dias', 'volumes', 'receita']].corr(method='spearman')
display(correlacoes_spearman)

            satisfacao      dias   volumes   receita
satisfacao    1.000000 -0.003457 -0.000075 -0.002677
dias         -0.003457  1.000000  0.688552  0.544271
volumes      -0.000075  0.688552  1.000000  0.793103
receita      -0.002677  0.544271  0.793103  1.000000