# Importando tabela

In [1]:
import pandas as pd

df = pd.read_csv("VendasGeral.csv", sep=";")

display(df)

        id_venda  id_produto  quantidade  data_venda  id_loja         pais
0         271783         231          10  2022-08-04       12   Alemanha\r
1         271784         127          10  2024-04-10       20      Japão\r
2         271785         380           4  2022-10-03       17     Brasil\r
3         271786         931           9  2022-01-14        6  Singapura\r
4         271787         381           9  2023-10-25       16  Indonésia\r
...          ...         ...         ...         ...      ...          ...
271776    543559         504           5  2023-06-24       15     Canadá\r
271777    543560         736           5  2022-06-25        9  Singapura\r
271778    543561         606           2  2022-02-09       17     Brasil\r
271779    543562          92           8  2022-05-05        4      Japão\r
271780    543563          13           3  2023-12-01       12   Alemanha\r

[271781 rows x 6 columns]

# Padronizar Data

In [2]:
def padronizar_data(data):
    final_data = data.split("-")

    ano, mes, dia = final_data

    if mes[0] == "0":
        mes = mes[1]

    if dia[0] == "0":
        dia = dia[1]

    return int(ano), int(mes), int(dia)

padronizar_data(df["data_venda"][0])

(2022, 8, 4)

# Definir Estação

In [3]:
def definir_estacao(pais, data):
    hemisferios_pt = {
        'Singapura': 'N',
        'Indonésia': 'S',
        'Chile': 'S',
        'Estados Unidos': 'N',
        'Israel': 'N',
        'África do Sul': 'S',
        'Malásia': 'N',
        'Jordânia': 'N',
        'Egito': 'N',
        'Hong Kong': 'N',
        'Índia': 'N',
        'Nigéria': 'N',
        'República Democrática do Congo': 'N',
        'França': 'N',
        'Sri Lanka': 'N',
        'Líbano': 'N',
        'Síria': 'N',
        'Emirados Árabes Unidos': 'N',
        'Japão': 'N',
        'Alemanha': 'N',
        'Senegal': 'N',
        'Tunísia': 'N',
        'Peru': 'S',
        'Itália': 'N',
        'Camboja': 'N',
        'Taiwan': 'N',
        'Turquia': 'N',
        'Brasil': 'S',
        'Vietnã': 'N',
        'Austrália': 'S',
        'Coreia do Sul': 'N',
        'Arábia Saudita': 'N',
        'Marrocos': 'N',
        'Rússia': 'N',
        'Catar': 'N',
        'Argélia': 'N',
        'Tailândia': 'N',
        'Argentina': 'S',
        'China': 'N',
        'Afeganistão': 'N',
        'Paquistão': 'N',
        'Filipinas': 'N',
        'Líbia': 'N',
        'Irã': 'N',
        'Mianmar': 'N',
        'Reino Unido': 'N',
        'Colômbia': 'N',
        'México': 'N',
        'Nepal': 'N',
        'Espanha': 'N',
        'Bangladesh': 'N',
        'Canadá': 'N',
        'Quênia': 'N',
        'Iraque': 'N'
    }

    #pegando o hemisfério
    hemisferio = hemisferios_pt[pais]
    

    #pegando o mes
    data_final = padronizar_data(data)
    ano, mes, dia = data_final

    if (mes >= 3 and mes < 6):
        estacao = "Outono" if hemisferio == 'S' else "Primavera"
    elif (mes >= 6 and mes < 9):
        estacao = "Inverno" if hemisferio == 'S' else "Verão"
    elif (mes >= 9 and mes < 12):
        estacao = "Primavera" if hemisferio == 'S' else "Outono"
    else:
        estacao = "Verão" if hemisferio == 'S' else "Inverno"

    return estacao

# Criando nova tabela

In [13]:
# Aplicar a função e adicionar a coluna 'estacao'
df['estacao'] = df.apply(lambda row: definir_estacao(row['pais'][:-1], row['data_venda']), axis=1)

display(df)

,id_venda,id_produto,quantidade,data_venda,id_loja,pais,estacao
0,271783,231,10,2022-08-04,12,Alemanha\r,Verão
1,271784,127,10,2024-04-10,20,Japão\r,Primavera
2,271785,380,4,2022-10-03,17,Brasil\r,Primavera
3,271786,931,9,2022-01-14,6,Singapura\r,Inverno
4,271787,381,9,2023-10-25,16,Indonésia\r,Primavera
...,...,...,...,...,...,...,...
271776,543559,504,5,2023-06-24,15,Canadá\r,Verão
271777,543560,736,5,2022-06-25,9,Singapura\r,Verão
271778,543561,606,2,2022-02-09,17,Brasil\r,Verão
271779,543562,92,8,2022-05-05,4,Japão\r,Primavera
271780,543563,13,3,2023-12-01,12,Alemanha\r,Inverno

In [15]:
df.to_csv("VendasGeral-país.csv", index=False, sep=";")