In [2]:
import pandas as pd

df = pd.read_csv("DiferençaPromoçõesReceita.csv", sep=";")

display(df)

     id_produto  Dias_Promo  Receita_Promo  Dias_SemPromo  Receita_SemPromo
0             1           6    4253.214971            214     118660.399289
1             2           9    4375.212551            203     122166.277502
2             3           2    1911.540702            219     134854.837597
3             4           4     830.135222            235     137013.566817
4             5           6    3513.657805            232     146804.107479
..          ...         ...            ...            ...               ...
598         993           6    3676.447859            234     148889.853304
599         994           2    2959.691542            242     144190.942735
600         997          10    6310.800330            240     143539.554371
601         998           3    1527.159176            228     143055.226279
602         999           1      38.423589            235     155796.679576

[603 rows x 5 columns]